---
//import { Icon } from 'astro-icon/components';
---

<section class="bg-zinc-100 shadow-xl dark:bg-zinc-800 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 text-2xl py-4 lg:text-3xl text-center font-medium">
    <span class="font-bold">
    Call for
    <span class="dark:text-yellow-500"> FREE </span>Consultation.<br />
    (408) 401-8988
  </div>
</section>
