---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Hero from '~/components/widgets/Hero.astro';
//import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="<span class='text-yellow-500'>Contact</span>" title="Let's Connect!" />

  <!-- <ContactUs
    id="form"
    title="CURRENTLY OPERATE IN SAN JOSE, CA."
    subtitle="Call for <span class='text-yellow-500'>FREE</span> Consultation. <span class='text-yellow-500'>(408) 401-8988</span>"
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
    ]}
    textarea={{
      label: 'Message',
    }}
    disclaimer={{
      label:
        'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
    }}
    description="Our support team typically responds within 24 business hours."
  /> -->

  <!-- Hero image import ************** -->

  <Hero
    actions={[
      // {
      //   variant: 'primary',
      //   text: 'Get template',
      //   href: 'https://github.com/onwidget/astrowind',
      //   target: '_blank',
      //   icon: 'tabler:download',
      // },
      // { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/google-maps-location.png', alt: 'AstroWind Hero Image',  class:"shadow-[0_4px_30px_rgba(0,0,0,0.1)] dark:shadow-[0_4px_30px_rgba(0,0,0,0.1)]" }}
  ></Hero>

  

  <!-- Features2 Widget ************** -->

  <Features2
    title="We are here to help!"
    items={[
      {
        title: 'Phone',
        description: '(408) 401-8988',
        icon: 'tabler:headset',
      },
      {
        title: 'Location',
        description: '1716 A TULLY ROAD, SAN JOSE, CA 95122',
        icon: 'tabler:map-pin',
      },
    ]}
  />
</Layout>
